*.bak
*.bat
.DS_Store

/*
!/post-commit
!/Interface/
!/.gitignore
!/.gitlab
!/.github
!/README.textile
!/README.md
!/LICENSE.txt
!/WTF
!/Fonts

/Interface/ICONS/
/Interface/ICONS2/

!/Interface/AddOns/!BaudErrorFrame/
!/Interface/AddOns/Foglight/
!/Interface/AddOns/IntelliMount/
!/Interface/AddOns/ncShadow/
!/Interface/AddOns/RayUI/
!/Interface/AddOns/RayUI_Options/
!/Interface/AddOns/Skada/
